/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  width: 50px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}
